/* start public style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 6000px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
 :root{
    --primary:#fa12aa;

 }

 .contact{
    margin-top: 100px;
 }
 
 .container{
    width: 100%;
     max-width: 1400px;
     padding: 0 50px;
     margin: 0 auto;
 }

 .row{
 display: flex;
 flex-wrap: wrap;
 /*justify-content: space-between;
 align-items: center;*/
}

.btn{
    border: 0;
    padding: 10px 5px;

}
/* end public style*/


/* strat header*/
 
 .header{
    padding: 45px 0;
    background-color: rgb(230, 230, 224);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

  .header .container {
  max-width: 1200px; 
  margin: 0 auto;      
  padding: 0 24px;     
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
    




.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 36px;
}

.header input, .footer input{
    border: 0;
    padding-left: 5px;

}
.header button{
    border: 0;
    
    background-color:#FB2E86;
    display: flex;
    align-items: center;
   
}
.header form, .footer form{
    border:  2px solid #E7E6EF ;
    display: flex;
    
    
}
.header .list a { 

    transition:  1.1s;
}
.header .list a:hover{

    color: #fb2e2e;
    font-size: 30px;

}


   
.header .menu {
    display: none;
}


@media screen and (min-width:0) and (max-width:680px){

    

    .header .list, 
    .header .form{
        display: none;
    }

      
 .header .menu {
    display: block;
}

}

/* end header*/


/* hero section */
.hero2 {

  width: 1873;
height: 764;
  background: #F2F0FF;
  
}



/* left side text */

.hero2 .row{
    display: flex;
    flex-wrap: nowrap;
    gap: 83px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 70px 20px;
    
}

.hero2 .left-side{
     width: calc((100% - 83px) / 2);
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     gap: 20px;
}

.title1 {
  color: #FB2E86;
  font-size: 16px;
  
}

.hero-text h1 {
  font-family: Josefin Sans;
font-weight: 700;
font-style: Bold Roman;
font-size: 53px;
line-height: 171%;
letter-spacing: 1.5%;
color: #000;

}

.description {
  font-family: Lato;
font-weight: 700;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: #8A8FB9;


}

.hero2 .btn{
    background-color: #FB2E86;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
}


/* right side */
.hero2 .right-side {

  width: calc((100% - 83px) / 2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .hero2 .right-side .circle{
    width: 420px;
    height: 420px;
    background-color: #ECD2FA59;
    border-radius: 50%;
    position:sticky;
    z-index: 2;
 }

 /*.hero2 .right-side .circle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.hero2 .right-side .circle-light {
  width: 460px;
  height: 460px;
  background:#ECD2FA59;
}

.hero2 .right-side .circle-dark {
  width: 380px;
  height: 380px;
  background:#ECD2FA59;
  top: 40px;
  right: 20px;
}
*/
 .hero2 .right-side .chair {
  width: 400px;
  position: absolute;
  z-index: 2;
}

.hero2 .right-side .discount-shape {
  width: 80px;
  height: 80px;
  background:#00C1FE;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 90px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: bold;
}

.hero2 .right-side .discount-shape .small{
  font-size: 14px;
}


/* end hero2 */

/*featured products*/


.section-title {
text-align: center;
color:#1A0B5B;
font-size: 42px;
margin-bottom: 48px;
}

.product{
    width: 270;
height: 361;

opacity: 1;

box-shadow: 0 4px 10px rgba(0,0,0,0.1);
margin-bottom: 53px;

}
.featured-product .container{
    margin-top: 129px;
}

.featured-product .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.product{
    display: flex;
    flex-direction: column;
    
    gap: 12px;
}

 .product .image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F6F7FB;
    width: 270px;
    height: 236px;

    opacity: 1;
}

.product.special .image{
    background-color: #F7F7F7;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
   
}



.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
   
}
 
.product.special{
    background-color:#2F1AC4;
}
 
.product-details.two h3{
color: #FFFFFF;
}

.product-info span.special2{
    color: #FFFFFF;
   text-shadow:
   1px 1px 0 #000, 
  -1px -1px 0 #000,   
   1px -1px 0 #000, 
  -1px 1px 0 #000;
}

.product-info span.special3{
    color:#FFFFFF;
    
}

.btn-color{
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 40px;
    height: 10px;
}
.color-one{
  background-color: #05E6B7;
   width: 14px;
height: 4px;
}

.color-two{
   width: 14px;
height: 4px;
background-color:#F701A8 ;
}

.color-three{
width: 14px;
height: 4px;
background-color: #00009D;
}

.product-details h3{
    color: #FB2E86;
    font-size: 18px;
}

.product-info span{
    color: #151875;
    font-size: 14px;
    margin-bottom: 12px;
}






/*featured products*/

/* leatest products start*/
.leatest_products{
    padding: 60px 0;

}

.section-title {
    text-align: center;
   
    margin-bottom: 40px;

    font-family: Josefin Sans;
font-weight: 700;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
columns: #151875;
}

.tabs {
  display: flex;
  gap: 0 50px;
  justify-content: center;
  margin-top: 19px;
  margin-bottom: 50px;
}

.tabs a {
  text-decoration: none;
  color: #1f2b5b;
  font-weight: 500;
  padding-bottom: 5px;
  position: relative;
}

.tabs a.active {
  color:#FB2E86;
}

.tabs a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:#FB2E86;
  bottom: 0;
  left: 0;
}

.leatest_products .row{

    display: flex;
    flex-wrap: wrap;
    gap: 37px;


}

.leatest_products .product{
    
    width: calc((100% - 74px) / 3);
    text-align: center;

}

.leatest_products .image{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   width: 100%;
   height: 229px; 
   background-color: #F7F7F7;
   overflow: hidden;
}

.leatest_products .product .image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
 
.leatest_products .product-details {
    
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    gap: 10px;                       
}


.leatest_products .product-details .details {
    font-weight: bold;
    width: ((100% - 10px) / 2);
    display: flex;
    align-items: flex-start;
    
}

.leatest_products .product-details .Price {
    display: flex;                 
    gap: 10px;                       
    align-items:flex-end;
   width: ((100% - 10px) / 2);
}

.leatest_products .product-details .Price span:first-child {
    font-weight: bold; 
}

.leatest_products .product-details .Price span:last-child {
    text-decoration: line-through;
    color: red;
}

.product-card {
  border: 5px solid transparent;
  transition: 0.1s ;
}

.product-card:hover {
  border-color: #c084fc; 
}



@media (max-width: 992px) {
  .leatest_products .product {
    width: calc((100% - 37px) / 2); 
  }

  .section-title {
    font-size: 36px;
  }

  .tabs {
    gap: 30px;
  }
}


@media (max-width: 576px) {
  .leatest_products {
    padding: 40px 0;
  }

  .leatest_products .row {
    gap: 25px;
  }

  .leatest_products .product {
    width: 100%; 
  }

  .section-title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  /* Tabs */
  .tabs {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
  }

  .tabs a {
    font-size: 14px;
  }

  /* Product details */
  .leatest_products .product-details {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .leatest_products .product-details .Price {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .leatest_products .image {
    height: 200px;
  }
}
/* leatest products end*/

/*hero start*/


.hero{
    background-image: url(./../image/Rectangle\ 102.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    background-color:#E7E6EF;
    
     height: 43vh;
     width: 100%;

      display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

   
    
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   

}

.hero-content h2{
    color: #151875;
}
.hero-content a{


  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #FB2E86;
    width: 173px;
    height: 49px;
   color: #E7E6EF;

}



/*End hero*/


/* start footer*/
  
.footer{

    background-color: #E7E6EF;
    padding: 112px 0;
}

.footer .row{

    gap:100px;
}

.footer .left-side .form{

    margin-top: 37px;
    margin-bottom: 24px;
}
.footer .left-side{
    width: calc((100%-95px)/2);
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     
}

 .footer .right-side{
    width: calc((100%-95px)/2);


}

.footer .footer-items
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 46px;
}

.footer .footer-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23px;;
}

.footer .right-side .row{

    align-items:flex-start;
}

@media screen and (min-width:0) and (max-width:680){

    .footer .left-side, .footer .right-side{

        width: 100%;
    }
}

/*End footer*/




    
