/* start public style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 6000px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
 :root{
    --primary:#fa12aa;

 }

 .contact{
    margin-top: 100px;
 }
 
 .container{
    width: 100%;
     max-width: 1400px;
     padding: 0 50px;
     margin: 0 auto;
 }

 .row{
 display: flex;
 flex-wrap: wrap;
 /*justify-content: space-between;
 align-items: center;*/
}

.btn{
    border: 0;
    padding: 10px 5px;

}
/* end public style*/


/* strat header*/

 .header{
    padding: 45px 0;
    background-color: rgb(230, 230, 224);
    position: fixed;
    width: 100%;
}

  .header .container {
  max-width: 1200px; 
  margin: 0 auto;      
  padding: 0 24px;     
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
    




.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 36px;
}

.header input, .footer input{
    border: 0;
    padding-left: 5px;

}
.header button{
    border: 0;
    
    background-color:#FB2E86;
    display: flex;
    align-items: center;
   
}
.header form, .footer form{
    border:  2px solid #E7E6EF ;
    display: flex;
    
    
}
.header .list a { 

    transition:  1.1s;
}
.header .list a:hover{

    color: #fb2e2e;
    font-size: 30px;

}


   
.header .menu {
    display: none;
}


@media screen and (min-width:0) and (max-width:680px){

    

    .header .list, 
    .header .form{
        display: none;
    }

      
 .header .menu {
    display: block;
}

}

/* end header*/



/*featured products*/
.section-title {
text-align: center;
color:#1A0B5B;
font-size: 42px;
margin-bottom: 48px;
}

.product{
    width: 270;
height: 361;
angle: 0 deg;
opacity: 1;

box-shadow: 0 4px 10px rgba(0,0,0,0.1);
margin-bottom: 53px;

}
.featured-product .container{
    margin-top: 129px;
}

.featured-product .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.product{
    display: flex;
    flex-direction: column;
    
    gap: 12px;
}

 .product .image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F6F7FB;
    width: 270px;
    height: 236px;
    angle: 0 deg;
    opacity: 1;
}

.product.special .image{
    background-color: #F7F7F7;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
   
}



.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
   
}
 
.product.special{
    background-color:#2F1AC4;
}
 
.product-details.two h3{
color: #FFFFFF;
}

.product-info span.special2{
    color: #FFFFFF;
   text-shadow:
   1px 1px 0 #000, 
  -1px -1px 0 #000,   
   1px -1px 0 #000, 
  -1px 1px 0 #000;
}

.product-info span.special3{
    color:#FFFFFF;
    
}

.btn-color{
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 40px;
    height: 10px;
}
.color-one{
  background-color: #05E6B7;
   width: 14px;
height: 4px;
}

.color-two{
   width: 14px;
height: 4px;
background-color:#F701A8 ;
}

.color-three{
width: 14px;
height: 4px;
background-color: #00009D;
}

.product-details h3{
    color: #FB2E86;
    font-size: 18px;
}

.product-info span{
    color: #151875;
    font-size: 14px;
    margin-bottom: 12px;
}






/*featured products*/



/*hero start*/


.hero{
    background-image: url(./../image/Rectangle\ 102.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    background-color:#E7E6EF;
    
     height: 43vh;
     width: 100%;

      display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

   
    
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   

}

.hero-content h2{
    color: #151875;
}
.hero-content a{


  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #FB2E86;
    width: 173px;
    height: 49px;
   color: #E7E6EF;

}



/*End hero*/


/* start footer*/
  
.footer{

    background-color: #E7E6EF;
    padding: 112px 0;
}

.footer .row{

    gap:100px;
}

.footer .left-side .form{

    margin-top: 37px;
    margin-bottom: 24px;
}
.footer .left-side{
    width: calc((100%-95px)/2);
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     
}

 .footer .right-side{
    width: calc((100%-95px)/2);


}

.footer .footer-items
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 46px;
}

.footer .footer-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23px;;
}

.footer .right-side .row{

    align-items:flex-start;
}

@media screen and (min-width:0) and (max-width:680){

    .footer .left-side, .footer .right-side{

        width: 100%;
    }
}

/*End footer*/




    
